---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AlignConsecutiveMacros: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Linux
ColumnLimit: 0
IndentCaseLabels: false
PointerAlignment: Left
SortIncludes: false
